# проигнорировать подкаталог tmp
tmp/

#проигнорировать файлы в подкаталоге tmp и файлы, заканчивающиеся суффиксами _old, 
*_old

# проигнорировать файлы в подкаталоге tmp и файлы, заканчивающиеся суффиксами _backup
*_backup

#проинорировать файл Thumbs.db
Thumbs.db

#проигнорировать файл .DS_Store
.DS_Store
